@import "../../styles/helpers/_helpers";

.activity {
    margin: 192px 0 212px;
    &__title {
        letter-spacing: 0.027em;
        color: #316099;
        margin-bottom: 158px;
        max-width: 360px;
    }
    &__inner {

        @include max-screen(991px) {
            flex-flow: column nowrap;
        }
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    &__inner-left {
        @include max-screen(991px) {
            margin-right: 0;
        }
        display: flex;
        flex: 1 0 auto;
        flex-flow: column;
        margin-right: 100px;
        .item {
            align-self: flex-end;
        }
    }
    &__inner-right {
        @include max-screen(991px) {
            flex: 1 0 auto;
        }
        display: flex;
        flex: 0 0 auto;
        flex-flow: column;
        .item {
            @include last-child() {
                align-self: flex-end;
                margin: 0;
            }
        }
    }
}
