// activity
+b.activity
    .container-w940
        +e.inner
            +e.inner-left
                +e.H2.title What we do to help our client grow in digital era,
                +b.item
                    +e.icon._pos1
                        IMG(src="./img/1.svg")
                    +e.name Make Your business To Be Better Famous In Internet
                    +e.short-info
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    +e.A(href="#").link Learn more

            +e.inner-right
                +b.item 
                    +e.icon._pos2
                        IMG(src="./img/3.svg")
                    +e.name Bring Technology To Your Comfrotable Home
                    +e.short-info
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    +e.A(href="#").link Learn more
                +b.item
                    +e.icon._pos3
                        IMG(src="./img/2.svg")
                    +e.name Build Your Digital Product That Suitable For Your Need
                    +e.short-info
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    +e.A(href="#").link Learn more
// КОНЕЦ: activity
