$icons: (
	  sprite: (width: 90px, height: 56px, svgPath: '../img/sprite.svg'),
 	arrow_right: (width: 16px, height: 16px, backgroundX: -64px, backgroundY: 0px),
 	burger: (width: 24px, height: 16px, backgroundX: 0px, backgroundY: 0px),
 	earth: (width: 20px, height: 20px, backgroundX: 0px, backgroundY: -26px),
 	mail: (width: 20px, height: 16px, backgroundX: -34px, backgroundY: 0px),
 	phone: (width: 18px, height: 18px, backgroundX: -34px, backgroundY: -26px),
);
