$icons: (
	  sprite: (width: 302px, height: 333px, svgPath: '../img/sprite.svg'),
 	group41: (width: 292px, height: 139px, backgroundX: 0px, backgroundY: 0px),
 	group42: (width: 255px, height: 174px, backgroundX: 0px, backgroundY: -149px),
);
