// form-1
+b.form.form-1
    +e.title Send us message    
    +e.FORM.contact#form( action="#" )
        +e.fields
            +e.field
                label Full name
                input(type="text" placeholder="Your name"  name="name").required-field
                //-div.errors
            +e.field
                label Email
                input(type="text" placeholder="Your Email" name="email").required-field.email
                //-div.errors
            +e.field
                label Message
                textarea(type="text" placeholder="Message" name="message")
                //-div.errors
        +e.action
            button(type="submit").btn.btn-submit.btn_style-1 Submit
// КОНЕЦ: form-1
