@import "../../styles/helpers/_helpers";

.form {
    @include max-screen(576px) {
        width: auto;
        max-width: 510px;
        min-width: 300px;
        padding: 24px;
    }
    width: 510px;
    height: 670px;
    padding: 56px;
    &__title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 32px;
    }
    &__fields {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    &__field {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin-bottom: 32px;
        position: relative;
    }
}

.errors {
    color: red;
    position: absolute;
    content: "";
    bottom: -22px;
    left: 0;
}