// newTool
+b.newTool
    +e.IMG(src="../img/illustration.svg" alt="").img
    .container-min
        +e.inner
            +e.H1.title New Automation Tool for Your Home
            +e.descr 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.
            A.btn.btn_style-1 See Our Project
// КОНЕЦ: newTool
