@import "../../styles/helpers/_helpers";



.newTool {
    position: relative;
    height: 639px;
    padding: 55px 0;
    background: linear-gradient(0deg, #98c3e8 8.84%, rgba(152, 195, 232, 0) 31.12%) url("./img/illustration.svg");
    &__inner {
        max-width: 530px;
    }
    &__title {
        font-family: "Times New Roman", Times, serif;
        // font-size: 64px;
        font-size: 56px;
        line-height: 74px;
        letter-spacing: 0.04em;
        color: #1f3f68;
        margin: 0 0 35px;
    }
    &__img {
        position: absolute;
        top: -40px;
        right: 23px;
    }
    &__descr {
        font-family: $Gilroy;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        max-width: 425px;
        letter-spacing: 0.05em;
        color: #1f3f68;
        opacity: 0.6;
        margin-bottom: 77px;
    }
}
