@import "../../styles/helpers/_helpers";

.letsTalk {
    position: relative;
    padding: 90px 0 95px;
    background: #5a98d0;
    color: #ffffff;
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 7%;
        bottom: 0;
        left: 0;
        background: #316099;
        border-radius: 0 200px 0 0;
    }
    &__inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        z-index: 2;
        .btn {
            align-self: center;
        }
    }
    &__title {
        max-width: 330px;
    }
    &__short-info {
        max-width: 460px;
    }
}
