// letsTalk
+b.letsTalk
    .container-w940
        +e.inner
            +e.inner-info
                +e.H2.title Intersted to woek with our team?
                +e.short-info
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            A(href="javascript://" data-path="contact").btn.btn_style-1 Let’s Talk
// КОНЕЦ: letsTalk