@import "../../styles/helpers/_helpers";

.item {

    @include max-screen(576px) {
        width: 100%;
        padding: 20px 20px 40px 20px;
    }
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 380px;
    height: 525px;
    background: #ffffff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin: 0 0 100px 0;
    padding: 48px;
    &__icon {
        margin-bottom: 55px;
        align-self: center;
    }
    &__icon_pos1 {
        margin-right: 58px;
    }
    &__icon_pos2 {
        margin-top: -71px;
        margin-left: 8px;
        margin-bottom: 50px;
    }
    &__icon_pos3 {
        margin-right: 40px;
    }
    &__name {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 16px;
        letter-spacing: 0.055em;
    }
    &__short-info {
        @include max-screen(576px) {
            flex: 1 0 auto;
            margin-bottom: 12px;
        }
        opacity: 0.6;
        max-height: 284px;
        overflow: hidden;
        margin-bottom: 32px;
    }
    &__link {
        font-size: 14px;
        line-height: 30px;
        border-color: transparent;
        position: relative;
        width: 124px;
        &::before {
            @include svgsprite(arrow_right);
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate3d(0, -50%, 0);
        }
    }
}
