// modal
.overlay
    +b(data-target="contact").modal.modal-1
        +e.content
           include ../form-1/form-1 
        +e.A(href="javascript://" data-modalClass="modal-1").close
// КОНЕЦ: modal
