@import "../../styles/helpers/_helpers";

.header {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 129px;
    }
    &__menu {
        position: relative;
        width: 25px;
        height: 17px;
        &::before {
            @include svgsprite(burger);
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate3d( 0 -50%, 0);
        }
    }
}
