// header
+b.header
    .container
        +e.inner
            +e.logo
                A(href="/").logo
                    IMG(src="./img/logo.svg")
            +e.menu
            include ../menu/menu
// КОНЕЦ: header
