@import "../../styles/helpers/_helpers";

.belovedClient {
    @include max-screen(1199px) {
        border-radius: 150px 0 0 0;
    }
    padding: 95px 0 128px;
    color: #ffffff;
    background: #5a98d0;
    border-radius: 200px 0 0 0;
    &__inner {

        margin-bottom: 80px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    &__title {
        max-width: 240px;
        margin-right: 80px;
    }
    &__short-info {
        @include max-screen(1199px) {
            width: 400px;
        }
        width: 540px;
        color: rgba( 255, 255, 255, 0.6);
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
    }
    a {
        color: #ffffff;
        text-decoration: none;
        background: transparent;
        &:hover {
            color: #ffffff;
            text-decoration: none;
            border-color: #ffffff;
            background: rgba(31, 63, 104, 0.2);
        }
        &:focus {
            text-decoration: none;
            outline: none;
            border-color: #ffffff;
        }
    }
    &__inner-clients {
        display: flex;
        flex-flow: row wrap;
    }
    &__item {
        @include max-screen(767px) {
            @include first(4) {
                border-top: 1px solid #ffffff;
            }
            @include first-child() {
                border-left: 1px solid #ffffff;
            }
            @include each(5) {
                border-left: 1px solid #ffffff;
            }
            @include odd() {
                border-left: none;
            }
            @include first(2) {
                border-top: none;
            }
            flex: 1 0 50%;
            width: auto;
        }
        @include all-but(8) {
            text-transform: uppercase;
        }
        @include first(4) {
            border-top: none;
        }
        @include first-child() {
            border-left: none;
        }
        @include each(5) {
            border-left: none;
        }
        flex: 1 0 25%;
        width: auto;
        border: 1px solid #ffffff;
        font-size: 18px;
        font-weight: 100;
        line-height: 46px;
        letter-spacing: 0.02em;
        padding: 40px 10px;
        text-align: center;
        border-bottom: none;
        border-right: none;
    }
}
