// belovedClient
+b.belovedClient
    .container-w940
        +e.inner
            +e.H2.title Our Beloved Client
            +e.short-info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        +e.inner-clients
            +e.A(href="#").item logo client 1
            +e.A(href="#").item logo client 2
            +e.A(href="#").item logo client 3
            +e.A(href="#").item logo client 4
            +e.A(href="#").item logo client 5
            +e.A(href="#").item logo client 6
            +e.A(href="#").item logo client 7
            +e.A(href="#").item More Client

// КОНЕЦ: belovedClient
