// footer
+b.footer
    .container-w940
        +e.inner
            +e.list
                +e.item._logo
                    A(href="/").logo Afrianska
                        IMG(src="./img/logo2.svg")
                +e.item
                    div A.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                +e.item
                    div T.
                    A(href="#").phone +62-812-7313-4321
                +e.item
                    div E.
                    A(href="mailto:hello.afrian@gmail.com").email hello.afrian@gmail.com  
            +e.inner-2
                +e.list
                    +e.item-2._title About US
                    +e.item-2
                        A(href="#") About
                    +e.item-2
                        A(href="#") What We Do
                    +e.item-2
                        A(href="#") Project
                    +e.item-2
                        A(href="#") How It Work With Us
                +e.list
                    +e.item-2._title Follow US
                    +e.item-2
                        A(href="#") Instagram
                    +e.item-2
                        A(href="#") Facebook
                    +e.item-2
                        A(href="#") LinkedIn
                    +e.item-2
                        A(href="#") Youtube
        +e.inner._bottom
            div 2019 © Afrianska. All rights reserved.
// КОНЕЦ: footer
