@import "../../styles/helpers/_helpers";

.footer {
    background: #5a98d0;
    color: #ffffff;
    a {
        color: rgba(255, 255, 255, 1);
        border-color: transparent;
        &:hover {
            color: rgba(255, 255, 255, 0.4);
        }
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 7%;
        bottom: 0;
        left: 0;
        background: #316099;
    }
    &__inner {
        @include max-screen(991px) {
            flex-flow: column nowrap;
            width: 100%;
        }
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        z-index: 2;
        width: 860px;
        padding: 95px 0 0;
        &::before {
            @include max-screen(991px) {
                right: 15%;
            }
            content: "";
            position: absolute;
            opacity: 0.4;
            z-index: 1;
            top: 0;
            right: 0;
            left: -100vw;
            background: #ffffff;
            height: 1px;
        }
    }
    &__inner-2 {
        display: flex;
        flex-flow: row nowrap;
        @include max-screen(460px) {
            flex-flow: column;
        }
        .footer__list {
            @include max-screen(991px) {
                width: auto;
                margin-right: 50px;
            }
            @include max-screen(460px) {
                margin-right: 0;
            }
            @include last-child() {
                margin-right: 0;
            }
            margin-right: 75px;
            width: 175px;
        }
    }
    &__inner_bottom {
        &::before {
            display: none;
        }
        padding: 64px 0;
        color: rgba(255, 255, 255, 0.4);
    }
    &__list {
        @include max-screen(991px) {
            margin-right: 0;
            width: 100%;
            margin-bottom: 100px;
        }
        display: flex;
        flex-flow: column nowrap;
        margin-right: 100px;
        flex: 0 0 auto;
        width: 300px;
    }
    &__item {
        @include last-child() {
            margin-bottom: 0;
        }
        display: flex;
        flex-flow: row nowrap;
        div {
            width: 19px;
            margin-right: 16px;
        }
        margin-bottom: 21px;
    }
    &__item-2 {
        @include last-child() {
            margin-bottom: 0;
        }
        margin-bottom: 16px;
    }
    &__item-2_title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 32px;
    }
    &__item_logo {
        margin-bottom: 32px;
        .logo {
            position: relative;
            padding-left: 63px;
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.033em;
            img {
                content: "";
                position: absolute;
                top: 55%;
                left: 0;
                transform: translate3d(0, -50%, 0);
            }
        }
    }
}
